Repository Schmidt-Futures-1/MedTracker, pull requests merged in 2022-08, with the labels that each got.

#72 Edit notifications
  site-capstone/Backend/routes/notification.js
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/UpdateMedicationPage/UpdateMedicationPage.jsx
Labels: FRONTEND

#76 Fixed timezone issue. UTC, EST, MST, & MST supported.
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
Labels: FRONTEND

#78 Autocomplete
  site-capstone/Backend/Procfile
  site-capstone/Backend/package.json
  site-capstone/Frontend/constants.js
  site-capstone/Frontend/dist/200.html
  site-capstone/Frontend/dist/assets/codepath.70a9a31f.9e0182c9.svg
  site-capstone/Frontend/dist/assets/index.0d862ec7.js
  site-capstone/Frontend/dist/assets/index.da402b8d.css
  site-capstone/Frontend/dist/assets/login-background.6c29dbf6.jpg
  site-capstone/Frontend/dist/index.html
  site-capstone/Frontend/package-lock.json
  site-capstone/Frontend/package.json
  site-capstone/Frontend/src/Components/Autocomplete/MenuList.jsx
  site-capstone/Frontend/src/Components/Autocomplete/Option.jsx
  site-capstone/Frontend/src/Components/Autocomplete/ReactSelect.jsx
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.css
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/Interaction/Interaction.jsx
Labels: FRONTEND

#81 Fixed delete medicine bug
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
Labels: bug

#82 Styling changes
  site-capstone/Frontend/index.html
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.css
  site-capstone/Frontend/src/Components/LoadingPage/LoadingPage.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/MedicationPage/MedicinePage.css
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.css
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
  site-capstone/Frontend/src/Components/custom.css
  site-capstone/Frontend/src/assets/CustomCss/CustomCss.css
Labels: FRONTEND

#83 Used modal to create confirm delete
  site-capstone/Backend/package-lock.json
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.css
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
Labels: FRONTEND

#84 Fix interaction bugs
  site-capstone/Frontend/src/Components/Interaction/Interaction.css
  site-capstone/Frontend/src/Components/Interaction/Interaction.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
Labels: bug, FRONTEND

#85 Trie autocomplete
  site-capstone/Frontend/constants.js
  site-capstone/Frontend/src/Components/Autocomplete/MenuList.jsx
  site-capstone/Frontend/src/Components/Autocomplete/Option.jsx
  site-capstone/Frontend/src/Components/Autocomplete/ReactSelect.jsx
  site-capstone/Frontend/src/Components/Autocomplete/SearchBar.jsx
  site-capstone/Frontend/src/Components/Autocomplete/Trie.js
  site-capstone/Frontend/src/Components/Autocomplete/suggestionsDatabase.js
  site-capstone/Frontend/src/Components/Autocomplete/useAutocomplete.js
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/Interaction/Interaction.jsx
Labels: FRONTEND

#86 Fix details timings
  site-capstone/Backend/medtracker-schema.sql
  site-capstone/Backend/models/medication.js
  site-capstone/Backend/models/notification.js
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/MedicationPage/MedicinePage.jsx
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
  site-capstone/Frontend/src/Components/custom.css
  site-capstone/Frontend/src/assets/CustomCss/CustomCss.css
Labels: FRONTEND

#87 Edit medication updates
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/Interaction/Interaction.css
  site-capstone/Frontend/src/Components/Interaction/Interaction.jsx
  site-capstone/Frontend/src/Components/Landing/Landing.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/Navbar/Navbar.jsx
  site-capstone/Frontend/src/Components/Register/Register.css
  site-capstone/Frontend/src/Components/UpdateMedicationPage/UpdateMedicationPage.jsx
Labels: FRONTEND

#92 Added auto complete to update medications page
  site-capstone/Frontend/src/Components/UpdateMedicationPage/UpdateMedicationPage.jsx
Labels: FRONTEND

#93 Interaction updates
  site-capstone/Frontend/src/Components/Interaction/Interaction.css
  site-capstone/Frontend/src/Components/Interaction/Interaction.jsx
Labels: FRONTEND
