Repository Schmidt-Futures-1/MedTracker, pull requests merged in 2022-07, with the labels that each got.

#38 created dashboard and updated navbar link and deleted resistor.css
  site-capstone/Frontend/src/Components/App/App.jsx
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.css
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.jsx
  site-capstone/Frontend/src/Components/Login/Login.jsx
  site-capstone/Frontend/src/Components/Navbar/Navbar.jsx
  site-capstone/Frontend/src/Components/Register/Register.jsx
  site-capstone/Frontend/src/Components/Register/Resister.css
Labels: FRONTEND

#42 Forbidden pages
  site-capstone/Frontend/src/Components/App/App.jsx
  site-capstone/Frontend/src/Components/Error Pages/AccessForbidden.jsx
  site-capstone/Frontend/src/Components/Error Pages/NotFound.jsx
  site-capstone/Frontend/src/Components/LoadingPage/LoadingPage.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/Navbar/Navbar.jsx
  site-capstone/Frontend/src/Components/ProtectedRoute/ProtectedRoute.jsx
  site-capstone/Frontend/src/Components/Register/Register.jsx
  site-capstone/Frontend/src/services/apiClient.js
Labels: FRONTEND

#51 Styling
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.css
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.css
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.jsx
  site-capstone/Frontend/src/Components/Footer/Footer.css
  site-capstone/Frontend/src/Components/Footer/Footer.jsx
  site-capstone/Frontend/src/Components/Interaction/Interaction.css
  site-capstone/Frontend/src/Components/Interaction/Interaction.jsx
  site-capstone/Frontend/src/Components/Landing/Landing.css
  site-capstone/Frontend/src/Components/Landing/Landing.jsx
  site-capstone/Frontend/src/Components/Login/Login.css
  site-capstone/Frontend/src/Components/Login/Login.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/MedicationPage/MedicinePage.jsx
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.css
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
  site-capstone/Frontend/src/Components/Navbar/Navbar.css
  site-capstone/Frontend/src/Components/Navbar/Navbar.jsx
  site-capstone/Frontend/src/Components/Register/Register.css
  site-capstone/Frontend/src/Components/Register/Register.jsx
Labels: FRONTEND

#52 Registration page phone
  site-capstone/Backend/medtracker-schema.sql
  site-capstone/Backend/models/user.js
  site-capstone/Frontend/package-lock.json
  site-capstone/Frontend/package.json
  site-capstone/Frontend/src/Components/Register/Register.css
  site-capstone/Frontend/src/Components/Register/Register.jsx
  site-capstone/Frontend/src/assets/login-background.jpg
  site-capstone/Frontend/src/index.css
Labels: FRONTEND, BACKEND

#53 Added Notifications
  site-capstone/Backend/app.js
  site-capstone/Backend/config.js
  site-capstone/Backend/medtracker-schema.sql
  site-capstone/Backend/models/notification.js
  site-capstone/Backend/models/user.js
  site-capstone/Backend/package-lock.json
  site-capstone/Backend/package.json
  site-capstone/Backend/routes/notification.js
  site-capstone/Frontend/package-lock.json
  site-capstone/Frontend/package.json
  site-capstone/Frontend/src/Components/App/App.jsx
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.css
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/services/apiClient.js
Labels: FRONTEND, BACKEND

#56 Added edit and delete medication
  site-capstone/Backend/medtracker-schema.sql
  site-capstone/Backend/models/medication.js
  site-capstone/Backend/routes/medication.js
  site-capstone/Frontend/src/Components/App/App.jsx
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
  site-capstone/Frontend/src/Components/UpdateMedicationPage/UpdateMedicationPage.css
  site-capstone/Frontend/src/Components/UpdateMedicationPage/UpdateMedicationPage.jsx
  site-capstone/Frontend/src/services/apiClient.js
Labels: FRONTEND, BACKEND

#57 Populate dashboard
  site-capstone/Backend/models/notification.js
  site-capstone/Frontend/package-lock.json
  site-capstone/Frontend/package.json
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.css
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.css
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.jsx
  site-capstone/Frontend/src/Components/Login/Login.css
Labels: FRONTEND, BACKEND

#58 Landing page edits
  site-capstone/Frontend/src/Components/Landing/Landing.css
  site-capstone/Frontend/src/Components/Landing/Landing.jsx
  site-capstone/Frontend/src/Components/Login/Login.css
  site-capstone/Frontend/src/Components/Login/Login.jsx
  site-capstone/Frontend/src/Components/Navbar/Navbar.css
  site-capstone/Frontend/src/Components/Navbar/Navbar.jsx
  site-capstone/Frontend/src/Components/Register/Register.css
  site-capstone/Frontend/src/Components/Register/Register.jsx
Labels: FRONTEND

#59 Added refill feature
  site-capstone/Backend/models/medication.js
  site-capstone/Backend/routes/medication.js
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/MedicationPage/MedicinePage.jsx
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.css
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
  site-capstone/Frontend/src/services/apiClient.js
Labels: FRONTEND, BACKEND

#60 Med details edits
  site-capstone/Backend/middleware/permissions.js
  site-capstone/Backend/models/medication.js
  site-capstone/Backend/models/notification.js
  site-capstone/Backend/routes/notification.js
  site-capstone/Frontend/package-lock.json
  site-capstone/Frontend/package.json
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.css
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.jsx
  site-capstone/Frontend/src/Components/Interaction/Interaction.css
  site-capstone/Frontend/src/Components/Landing/Landing.css
  site-capstone/Frontend/src/Components/Login/Login.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.css
Labels: FRONTEND, BACKEND

#61 Moved handleOnInputChange& handleOnSubmit functions out of IF statement
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
Labels: bug, FRONTEND

#62 Delete notifications is working on front end. MVP complete.
  site-capstone/Backend/models/notification.js
  site-capstone/Backend/routes/notification.js
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.css
  site-capstone/Frontend/src/Components/MedicineCard/MedicineCard.jsx
  site-capstone/Frontend/src/services/apiClient.js
Labels: FRONTEND, BACKEND

#63 Styling changes
  site-capstone/Frontend/src/Components/CreateMedicationPage/CreateMedicationPage.jsx
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.css
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.jsx
  site-capstone/Frontend/src/Components/Interaction/Interaction.css
  site-capstone/Frontend/src/Components/Interaction/Interaction.jsx
  site-capstone/Frontend/src/Components/Navbar/Navbar.jsx
Labels: FRONTEND

#70 Style adjustments for presentation
  site-capstone/Frontend/src/Components/Dashboard/Dashboard.css
  site-capstone/Frontend/src/Components/Landing/Landing.jsx
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.css
  site-capstone/Frontend/src/Components/MedicationDetails/MedicationDetails.jsx
  site-capstone/Frontend/src/Components/Register/Register.css
Labels: FRONTEND
